doctype html
html
	head
		title MC Nails
		meta(name="description", content="MC Nails")
		// meta(name="keywords", content="")
		meta(charset="utf-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,600,300", type="text/css")
		link(rel="stylesheet", href="assets/css/standard.css", media="all", type="text/css")
		link(rel="stylesheet", href="assets/css/addons/small-screen.css", media="screen and (max-width: 768px)")
		link(rel="stylesheet", href="assets/css/addons/medium-screen.css", media="screen and (min-width: 769px) and (max-width: 1200px)")
		link(rel="stylesheet", href="assets/css/addons/large-screen.css", media="screen and (min-width: 1200px)")
		link(rel="shortcut icon", type="image/x-icon", href="assets/img/mc-icon.ico")
		script(type="text/javascript", src="assets/js/yoxview/yoxview-init.js")
body
	include ./includes/pages-side-nav.jade
	#top
	.main-content.col-lg-9.col-xs-12
		.page-title Gallery
		
		hr
		
		ol.breadcrumb
			li: a(href="index.html") Home
			li.active Gallery
		
		.blurb Take a look at what it's like inside our salon. Also check out our supplies and a few of our works. Keep an eye out for more pictures to come!

		.galleryPanel
			.yoxview
				a(href="assets/img/gallery/pic1.jpg")
					img(src="assets/img/galleryThumbs/thumb1.jpg", title="Stands")
				a(href="assets/img/gallery/pic2.jpg")
					img(src="assets/img/galleryThumbs/thumb2.jpg", title="Polish Rack")
				a(href="assets/img/gallery/pic3.jpg")
					img(src="assets/img/galleryThumbs/thumb3.jpg", title="Our Theme")
				a(href="assets/img/gallery/pic4.jpg")
					img(src="assets/img/galleryThumbs/thumb4.jpg", title="More Colors")
				a(href="assets/img/gallery/pic5.jpg")
					img(src="assets/img/galleryThumbs/thumb5.jpg", title="More Colors")
				a(href="assets/img/gallery/pic6.jpg")
					img(src="assets/img/galleryThumbs/thumb6.jpg", title="Our Chairs")
				a(href="assets/img/gallery/pic7.jpg")
					img(src="assets/img/galleryThumbs/thumb7.jpg", title="Work Stations")
				a(href="assets/img/gallery/pic8.jpg")
					img(src="assets/img/galleryThumbs/thumb8.jpg", title="Paraffin Station")
				a(href="assets/img/gallery/pic9.jpg")
					img(src="assets/img/galleryThumbs/thumb9.jpg", title="Our Chairs")
				a(href="assets/img/gallery/pic10.jpg")
					img(src="assets/img/galleryThumbs/thumb10.jpg", title="Waxing Table")
				a(href="assets/img/gallery/pic11.jpg")
					img(src="assets/img/galleryThumbs/thumb11.jpg", title="Jell-O Treatment")
				a(href="assets/img/gallery/pic12.jpg")
					img(src="assets/img/galleryThumbs/thumb12.jpg", title="Pearl Spa Treatment")
				a(href="assets/img/gallery/pic13.jpg")
					img(src="assets/img/galleryThumbs/thumb13.jpg", title="On Sen Treatment")
				a(href="assets/img/gallery/pic14.jpg")
					img(src="assets/img/galleryThumbs/thumb14.jpg", title="Designs")
				a(href="assets/img/gallery/pic15.jpg")
					img(src="assets/img/galleryThumbs/thumb15.jpg", title="Drying Station")

		hr
		include ./includes/footer.jade
	include ./includes/scripts.jade