footer
	.col-xs-10.text-right
		h5 Copyright 2015
		h5 Designed by <a target="_blank" href="http://quanhuynh.org">QH</a>
	.col-xs-2.top-button.text-right
		a(href="#top")
			img(src="assets/img/top.png")
			h4 Top