.side-bar.col-lg-3.col-xs-12
	.title.text-center 
		a(href="index.html") MC NAILS

	hr
	a.navbar-button(style="cursor: pointer;")
		.glyphicon.glyphicon-menu-hamburger
		.menu MENU
	
	.nav
		a(href="index.html#top").nav-item
			.nav-item
				.nav-line
				.nav-text.text-right Home
		a(href="index.html#mission").nav-item
			.nav-item
				.nav-line
				.nav-text.text-right About
		a(href="index.html#gallery").nav-item
			.nav-item
				.nav-line.nav-line-gallery
				.nav-text.text-right Gallery
		a(href="index.html#contact").nav-item
			.nav-item
				.nav-line.nav-line-contact
				.nav-text.text-right Contact
		a.nav-item.nav-item-hours(style="cursor: pointer;")
			.nav-item
				.nav-line
				.nav-text.text-right Hours
	.hours
		.dates.text-left
			p Mon - Fri :
			p Saturday :
			p Sunday :
		.times.text-right
			p 10:00 - 7:30
			p 9:30 - 7:00
			p 11:00 - 5:00

	.social-media.row
		.icons
			.icon.email
				a(href="mailto:minhnha2007@yahoo.com", target="_blank"): img(src="assets/img/social-media-icons/email.png")
			.icon.yelp
				a(href="http://www.yelp.com/biz/mc-nails-fairfax-3", target="_blank"): img(src="assets/img/social-media-icons/yelp.png")
			.icon.facebook
				a(href="https://www.facebook.com/mcnails22031", target="_blank"): img(src="assets/img/social-media-icons/facebook.png")