doctype html
html
	head
		title MC Nails
		meta(name="description", content="MC Nails")
		// meta(name="keywords", content="")
		meta(charset="utf-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,600,300", type="text/css")
		link(rel="stylesheet", href="assets/css/standard.css", media="all", type="text/css")
		link(rel="stylesheet", href="assets/css/addons/small-screen.css", media="screen and (max-width: 768px)")
		link(rel="stylesheet", href="assets/css/addons/medium-screen.css", media="screen and (min-width: 769px) and (max-width: 1200px)")
		link(rel="stylesheet", href="assets/css/addons/large-screen.css", media="screen and (min-width: 1200px)")
		link(rel="shortcut icon", type="image/x-icon", href="assets/img/mc-icon.ico")